<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <div class="col-xs-12">
                <form [formGroup]="deliveryFormGroup">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Document:
                                <input type="number" id="document" formControlName="document" class="form-control">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Medicine:
                                <input type="number" id="medicine" formControlName="idMedicine" class="form-control">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Amount:
                                <input type="number" id="amount" formControlName="amount" class="form-control">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-success" (click)="onAdd()">ADD</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-2">
                    <button class="btn btn-success" style="margin-top: 10px;" routerLink="/pharmacydocument">FINISH</button>
                </div>
            </div>
        </div>
    </div>
</div>