<div class="panel panel-primary">
    <div class="panel-header">
        <h2>Supplier list</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of supplierlist">
                  <td>{{supplier.idSupplier}}</td>
                  <td>{{supplier.name}}</td>
                  <td>{{supplier.address}}</td>
                  <td>{{supplier.phone}}</td>
                  <td><button class="btn btn-warning" (click)="onUpdate(supplier.idSupplier)">Update</button></td>
                  <td><button class="btn btn-danger" (click)="onDelete(supplier.idSupplier)">Delete</button></td>
                  <td><button class="btn btn-success" (click)="onView(supplier.idSupplier)">View medicines</button></td>
                </tr>
              </tbody>
        </table>
    </div>
</div>
<div class="container">
     <button class="btn btn-success" routerLink="/addsupplier">Add Supplier</button>