<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="supplierInventoryFormGroup">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Id Supplier:
                                <input type="number"
                                id="idSupplier"
                                formControlName="idSupplier"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Id Medicine: 
                                <input type="number"
                                id="idMedicine"
                                formControlName="idMedicine"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Name: 
                                <input type="text"
                                id="name"
                                formControlName="name"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Amount:
                                <input type="number"
                                id="amount"
                                formControlName="amount"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Price:
                                <input type="number"
                                id="price"
                                formControlName="price"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" (click)="add()">ADD</button>
            </form>
        </div>
    </div>
</div>