<div class="panel panel-primary">
    <div class="panel-header">
        <h2>Pharmacy {{id}} list</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Idmedicine</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th> <button class="btn btn-success" (click)="onAdd(id)"> Add Medicine </button></th>
                    <th><button class="btn btn-success" routerLink="/orders">SEE ORDERS</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicine of medicines">
                  <td>{{medicine.idMedicine}}</td>
                  <td>{{medicine.name}}</td>
                  <td>{{medicine.amount}}</td>
                  <td>{{medicine.price}}</td>
                  <td>{{medicine.idSupplier}}</td>
                  <td>
                    <button class="btn btn-warning" (click)="onUpdate(medicine.idPharmacy,medicine.idMedicine,medicine.idSupplier)">Update</button>
                    <button class="btn btn-danger" (click)="onDelete(medicine.idPharmacy,medicine.idMedicine,medicine.idSupplier)" style="margin-left: 10px;">Delete</button>
                  </td>
                  <td>
                  <button class="btn btn-success" style="margin-left: 10px;" (click)="addToShop(medicine.idPharmacy)">Add to ShoppingList</button>
                  <button class="btn btn-success" 
                  style="margin-left: 10px" 
                  (click)="onOrder(medicine.idSupplier, medicine.idMedicine)">Order</button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>

