<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <img src="assets/images3.jpg" alt="Pharmacy" class="rounded-circle">
        </div>
    </div>
</div>
