<div class="panel panel-primary">
    <div class="panel-header">
        <h2>Pharmacy list</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pharmacy of pharmacylist">
                  <td>{{pharmacy.idPharmacy}}</td>
                  <td>{{pharmacy.name}}</td>
                  <td>{{pharmacy.address}}</td>
                  <td><button class="btn btn-warning" (click)="onUpdate(pharmacy.idPharmacy)">Update</button></td>
                  <td><button class="btn btn-danger" (click)="onDelete(pharmacy.idPharmacy)">Delete</button></td>
                  <td><button class="btn btn-success" (click)="onView(pharmacy.idPharmacy)">View medicines</button></td>
                </tr>
              </tbody>
        </table>
    </div>
</div>
<div class="container">
     <button class="btn btn-success" routerLink="/addpharmacy">Add Pharmacy</button>
</div>
