<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <form [formGroup]="myForm">
                <div class="form-group">
                    <label>Date:</label>
                    <input type="date" id="date" formControlName="dateDocument" class="form-control">
                </div>
                <button class="btn btn-primary" (click)="findDocument()">FIND</button>
                <div class="form-group">
                    <label>Date:</label>
                    <input type="date" id="dateSell" formControlName="dateSell" class="form-control">
                </div>
                <button class="btn btn-primary" (click)="findSellMedicine()">FIND SELL MEDICINES</button>
                <div class="form-group">
                    <label>Date:</label>
                    <input type="date" id="earn" formControlName="earn" class="form-control">
                </div>
                <button class="btn btn-primary" (click)="getEarnForDate()">EARN </button>
            </form>
        </div>
        <div class="col-sm-3">
            <div class="container">
                <br>
                <button class="btn btn-primary" routerLink="/adddocument">ADD DOCUMENT</button>
            </div>
            <div class="container">
                <br>
                <button class="btn btn-primary" routerLink="/orders">ORDERS</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container" *ngIf="documentation">
            <div class="col-xs-12" *ngFor="let document of documents">
                <label>Date: {{document.datedelivered}}
                    idsupplier: {{document.supplier.idSupplier}}
                    pharmacy: {{document.pharmacy.idPharmacy}} </label>
                <button class="btn btn-success" style="margin-left: 10px;"
                    (click)="onAdd(document.idDocument, document.pharmacy.idPharmacy ,document.supplier.idSupplier)">
                    ADD DELIVERIES</button>
                <button class="btn btn-success" style="margin-left: 10px;"
                    (click)="viewDelivereds(document.idDocument)">VIEW DELIVERIES</button>
                <button class="btn btn-danger" style="margin-left: 10px;" (click)="onClose()">CLOSE</button>
            </div>
        </div>
        <div class="container" *ngIf="soldmedicine">
            <div class="col-xs-12" *ngFor="let med of listOfsoldMedicines">
                <label>idmedicine: {{med.pharmacyInventory.idMedicine}}</label>
                <label style="margin-left: 10px;">idmedicine: {{med.pharmacyInventory.name}} </label>
                <label style="margin-left: 10px;">amount: {{med.amount}} </label>
            </div>
            <button class="btn btn-danger" style="margin-left: 10px;" (click)="onClose()">CLOSE</button>
        </div>
        <div class="container" *ngIf="earnings">
            <div class="col-xs-12">
                <label>EARN: {{totalEarnings}}</label>
                <button class="btn btn-danger" style="margin-left: 10px;" (click)="onClose()">CLOSE</button>
            </div>
        </div>
    </div>
</div>