<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <div class="row">
                <div class="col-xs-12">
                    <form [formGroup]="saleFormGroup">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    Idmedicine:
                                    <input type="number" formControlName="idMedicine" id="idMedicine" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    Supplier:
                                    <input type="text" formControlName="supplier" id="supplier" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    Amount:
                                    <input type="number" formControlName="amount" id="amount" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <button class="btn btn-success" (click)="onAdd()">ADD</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" *ngIf="click">
                    <div class="container" *ngFor="let prod of listOfSoldMedicines">
                        <label> Idmedicine: {{prod.idMedicine }}  AMOUNT: {{prod.amount}} PRICE: {{ prod.price }}</label>
                    </div>
                    <div class="container">
                        BILL : {{ bill }}
                    </div>
                    <div class="container">
                        <button class="btn btn-success" (click)="printBill()">PRINT BILL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>