<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="documentFormGroup">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Date delivered: 
                                <input type="date"
                                id="date"
                                formControlName="date"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Comercialist: 
                                <input type="number"
                                id="jmbgworker"
                                formControlName="jmbgworker"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Supplier name: 
                                <input type="text"
                                id="supplier"
                                formControlName="supplier"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Pharmacy name: 
                                <input type="text"
                                id="pharmacy"
                                formControlName="pharmacy"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-success" (click)="onAdd()">ADD</button>
        </div>
    </div>
</div>
