<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="orderFormGroup">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Id Supplier:
                                <input type="number"
                                id="idSupplier"
                                formControlName="idSupplier"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Id Medicine:
                                <input type="number"
                                id="idMedicine"
                                formControlName="idMedicine"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Id Pharmacy:
                                <input type="number"
                                id="idPharmacy"
                                formControlName="idPharmacy"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Amount:
                                <input type="number"
                                id="amount"
                                formControlName="amount"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-success" (click)="update()">UPDATE</button>
        </div>
    </div>
</div>