<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="comercialistFormGroup">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        JMBG:
                                        <input type="text" id="id" formControlName="jmbg" class="form-control">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        Name:
                                        <input type="text" id="name" formControlName="name" class="form-control">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        Surname:
                                        <input type="text" id="surname" formControlName="surname" class="form-control">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>
                                        Address:
                                        <input type="text" id="address" formControlName="address" class="form-control">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Mobile Phone:
                                <input type="number"
                                id="phone"
                                formControlName="phone"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-success" type="button" (click)="update()">UPDATE</button>
        </div>
    </div>
</div>
