<div class="panel panel-primary">
    <div class="panel-header">
        <h2>Delivered list </h2>
        <h3>Date: {{document.datedelivered}}</h3>
        <h3>Supplier: {{supplier.name}} </h3>
        <h3>Pharmacy: {{pharmacy.name}}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Idmedicine</th>
                    <th>Name medicine</th>
                    <th>Amount</th>
                </tr>
            </thead>
        <tbody>
            <tr *ngFor="let delivery of deliveries">
                <th>{{delivery.medicine.idMedicine}}</th>
                <th>{{delivery.medicine.name}}</th>
                <th>{{delivery.amount}}</th>
            </tr>
        </tbody>
        </table>
    </div>
</div>