<div class="panel panel-primary">
    <div class="panel-header">
        <h2>Supplier </h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Idmedicine</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th> <button class="btn btn-success" (click)="onAdd(id)"> Add Medicine </button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicine of medicines">
                  <td>{{medicine.idMedicine}}</td>
                  <td>{{medicine.name}}</td>
                  <td>{{medicine.amount}}</td>
                  <td>{{medicine.price}}</td>
                  <td>
                    <button class="btn btn-warning" (click)="onUpdate(medicine.idSupplier, medicine.idMedicine)">Update</button>
                    <button class="btn btn-danger" 
                            style="margin-left: 10px;" 
                            (click)="onDelete(medicine.idSupplier, medicine.idMedicine)">Delete</button>
                    <button class="btn btn-success" style="margin-left: 10px;" (click)="onOrder(medicine.idSupplier, medicine.idMedicine)">Order</button>
                    <td>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>


