<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>JMBG Pharmacist:</label>
                            <input 
                            type="number" 
                            id="jmbg"
                            [formControl]="jmbg"
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button class="btn btn-primary" (click)="findPharmacist()">Find</button>
                </div>
            </form>
            <div class="container">
                <br>
                <ul class="list-group list-group" *ngIf="click">
                    <li class="list-group-item">Name: {{ worker.name }}</li>
                    <li class="list-group-item">Surname: {{ worker.surname }}</li>
                    <li class="list-group-item">Address: {{ worker.address }} </li>
                    <li class="list-group-item">Qualification: {{ pharmacist.qualification }} </li>
                    <li class="list-group-item">
                        <button class="btn btn-success" style="margin-left: 10px;" (click)="onUpdate(worker.jmbgworker)">Edit</button>
                        <button class="btn btn-danger" style="margin-left: 10px;" (click)="onClose()">Close</button>
                    </li>
                </ul>
            </div>
            <br>
            <div class="container">
                <button class="btn btn-success" routerLink="/addpharmacist" type="button">ADD PHARMACIST</button>
            </div> 
        </div>
    </div>
</div>
