<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Date order: </label>
                            <input type="date" id="date" [formControl]="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button class="btn btn-primary" (click)="find()">Find</button>
                </div>
            </form>
            <div class="row" *ngIf="click">
                <div class="col-xs-8" *ngFor="let order of orders">
                    <br>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">IdPharmacy: {{ order.pharmacy.idPharmacy }}</li>
                        <li class="list-group-item">IdMedicine: {{ order.medicine.idMedicine }}</li>
                        <li class="list-group-item">IdSupplier: {{ order.supplier.idSupplier}} </li>
                        <li class="list-group-item">Amount: {{ order.amount }} </li>
                        <li class="list-group-item">
                            <button class="btn btn-success" style="margin-left: 10px;"
                                (click)="onUpdate(order.idOrder)">Edit</button>
                            <button class="btn btn-danger" style="margin-left: 10px;"
                                (click)="onCancle(order.idOrder)">Cancle order</button>
                            <button class="btn btn-danger" style="margin-left: 10px;" (click)="onClose()">Close</button>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>