<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 offset-4">
            <form [formGroup]="pharmacyFormGroup">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                idPharmacy: 
                                <input type="number"
                                id="id"
                                formControlName="id"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Name: 
                                <input type="text"
                                id="name"
                                formControlName="name"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>
                                Address:
                                <input type="text"
                                id="address"
                                formControlName="address"
                                class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" (click)="update()">UPDATE</button>
            </form>
        </div>
    </div>
</div>
