<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
    <div class="navbar navbar-expand-sm">
        <a class="navbar-brand" routerLink="/homepage" routerLinkActive="active">APLICATION</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Worker
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/pharmacist">Pharmacist</a>
                    <a class="dropdown-item" routerLink="/comercialist">Comercialist</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/pharmacy">Pharmacy</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/supplier">Supplier</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Shopping List</a>
            <div *dropdownMenu class="dropdown-menu">
                <div class="container" *ngFor="let pharmacy of pharmacies">
                    <a class="dropdown-item" (click)="click(pharmacy.idPharmacy)">{{ pharmacy.name }}</a>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" routerLink="/pharmacydocument" >Documentation </a>
        </li>
    </ul>
</nav>